*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:500 px;
    height: 600px;
    background-color:rgb(245, 215, 224);
   padding-right: 150px;
   padding-left: 150px;
}
.container-description{
margin: 50px;
}
#container-heading{
    font-size: 50px;
    font-style: bold;
    margin-bottom: 10px;
}
#container-para{
    font-size: 15px;
    color: #757575;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.container-btn{
    padding: 12px 20px;
    margin-top: 15px;
    margin-left: 170px;
    border-radius: 5px;
    color: white;
    background-color: rgb(252, 66, 128);
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.container-img{
    width: 500px;
    height: 600px;
    ;    
}
.feature{ 
   height:500px ; 
   border: 2px;
    
}
.feature-description{
padding-left:200px ;
margin-top: 100px;
margin-right: 100px;
margin-left: 200px;
}
#feature-title{
    
    margin-left: 150px;
    margin-right:150px ;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#feature-para{
    font-size: 12px;
    margin-right: 150px ;
    margin-left: 44px;
    color: #757575;
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#bring{
    margin-left: 37px;
}
#decorate{
    margin-left: 180px;
}

.feature-img{
  
  justify-content: space-around;
  align-items: center;
  margin-top:10px ;
  margin-right:200px ;
  margin-left: 200px;
  display: flex;
  
}


#img-a{
    width: 230px;
    height:260px;
    margin: 50px;
    background-color: rgb(249, 212, 224);
    border-radius: 10%;
    
    
}
#img-b{
    width: 230px;
    height:260px;
    margin: 50px;
    background-color: rgb(229, 249, 249);
    border-radius: 10%;
    
}
#img-c{
    width: 230px;
    height:260px;
    margin: 50px;
    background-color: rgb(229, 251, 243);
    border-radius: 10%;
    
}
figcaption{
    text-align: center;
    padding: 2px;
    margin: 0px;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-deal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(251, 237, 242);
    height: 400px;
    padding-top: 10px;
    margin-top: 100px;
   
}
.container-deal-text{
    margin-left: 400px;
}
.container-deal-heading{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-bottom: 10px;
   margin-left: 50px;
}
.container-deal-off{
    color: rgb(249, 81, 137);
}
.container-deal-para{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #757575;
}
.container-deal-content{
margin-left: 100px;

}
.container-deal-btn{
    padding: 10px 29px;
    border-radius: 5px;
    font-size: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: rgb(252, 66, 128);
    border: none;
    margin-top: 10px;
    margin-left: 190px;
    cursor: pointer;

}
.container-deal-photo{
    width: 230px;
    height:280px;
    margin-right: 500px;
    ;
}
.google{
    padding: 10px;
   height:500px ; 
   margin-top: 50px;
   border: 2px;
}
.google-description{
    padding-right:200px ;
    padding-left:200px ;
    margin-right: 100px;
    margin-left: 100px;   
}
.google-description-heading{
    margin-left: 330px;
    margin-right:550px ;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.google-description-text{
    display: flex;
    
    font-size: 16px;
    margin-right: 300px ;
    margin-left: 270px;
    color: #757575;
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
#link{
    text-decoration:none; 
    
}

.flower-photo{
   justify-content:space-around;
   align-items: center;
    margin-top:20px ;
    margin-right:400px ;
    margin-left: 500px;
    display: flex;   
}
#photo-1{
    width: 230px;
    height:260px;
    margin: 50px; 
}
#photo-2{
    width: 230px;
    height:260px;
    margin: 50px;
}
#photo-3{
    width: 230px;
    height:260px;
    margin: 50px;
}
#photo-4{
     width: 230px;
    height:260px;
    margin: 50px;
}
.insta{
    height: 500px;
    padding: 20PX;
    border: 2px;
    
    

    
}
.insta-description{
    padding-right:200px ;
    padding-left:200px ;
    margin-right: 100px;
    margin-left: 500px; 
   
}
.insta-description-heading{
    margin-top: 20px;
    margin-left: 250px;
    margin-right:150px ;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.insta-description-para{
    font-size: 16px;
    margin-right: 150px ;
    margin-left: 150px;
    color: #757575;
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     
}

.insta-photo{
    justify-content:space-around;
    align-items: center;
     margin-top:20px ;
     margin-right:290px ;
     margin-left: 400px;
     display: flex;      
}


#insta-photo-1{
    width: 300px;
    height:350px;
    margin: 10px; 
}
#insta-photo-2{
    width: 300px;
    height:350px;
    margin: 10px; 
}
#insta-photo-3{
    width: 300px;
    height:350px;
    margin: 10px; 
}
#insta-photo-4{
    width: 300px;
    height:350px;
    margin: 10px; 
}
.feature-img,.insta-photo{
    margin-right: 500px;
    margin-left: 500px;
}
.deals{
   
    background-color:white;
    height: 400px;
    padding-top: 10px;
    margin-top: 100px;
    margin-right:380px ;
    margin-left: 380px;
    background-image: url('./flower/Rectangle\ 9.png');
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#deals-heading{
    margin-left: 500px;
    margin-right:150px ; 
    margin-top: 140px;
    font-size: 32px;
}
#deals-text{
    margin-top: 11px;
    margin-left: 550px;
    margin-right:150px ; 
    color: #757575;
}
.deals-form{
    margin-top: 28px;
    margin-left: 270px;
    margin-right:400px ;  
    display: flex; 
    gap: 15px; 
}
#deals-mail{
    padding: 15px 200px;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
    border: none;
}
#deals-button{
    padding: 15px 24px;
    border-radius: 5px;
    color: white;
    background-color: rgb(252, 66, 128);
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.footer-description{
    width:500 px;
    height: 450px;
    padding-top: 10px;
    margin-top: 100px;
    background-color:rgb(16, 3, 3);
   padding-right: 150px;
   padding-left: 150px; 
   color: white;  
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#footer-heading{
    font-size: 50px;
    margin-top: 200px;
    margin-left: 690px;
    padding-top: 10px;
}
#footer-para{
    margin-left: 560px; 
    margin-top: 20px;
}
#footer-text{
    margin-left: 660px; 
    margin-top: 30px;
    font-size: 15px;  
    color: #757575;
}
#footer-flower{
    color:  rgb(252, 66, 128);
   
}